<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - BrewbayProject</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    @* <link rel="stylesheet" href="~/BrewbayProject.styles.css" asp-append-version="true"/> *@
</head>
<body>

<header>
    <div class="header">
        <h1 class="brand-name" onclick="window.location.href='/'">Brewbay</h1>

        <div class="d-none d-md-flex menu-list">
            <a class="item" asp-controller="Home" asp-action="Index">Home</a>
            <a class="item" asp-controller="Home" asp-action="Menu">Menu</a>
            <a class="item" asp-controller="Home" asp-action="About">About</a>
            <a class="item" asp-controller="Home" asp-action="Tracker">Track Order</a>
        </div>
        
        @if (User.Identity.IsAuthenticated)
        {
            <div class="d-none d-md-flex gap-3">
                <a class="btn btn-secondary" asp-controller="Cart" asp-action="Index">
                    <i class="fa-solid fa-cart-shopping me-1"></i>
                    View Cart
                </a>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-regular fa-user me-1"></i>
                        @User.Identity.Name
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                       <li>
                           <a class="dropdown-item" asp-controller="Account" asp-action="OrderHistory">Order History</a>
                       </li>
                        <li>
                            <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a>
                        </li>
                    </ul>
                </div>
                
                
            </div>
        }
        else
        {
            <a class="d-none d-md-block nav-btn" asp-controller="Account" asp-action="Login">
                LOGIN
            </a>
        }
        
        <button class="hamburger-btn d-block d-md-none">
            <img src="/public/hamburger-btn.png" alt="hamburger button" />
        </button>

        <nav class="custom-nav hidden">
            <button class="close-nav-btn">
                <img src="/public/close.png" alt="close button" />
            </button>
            <ul class="nav-list">
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Menu" class="nav-link">Menu</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Cart" asp-action="Index" class="nav-link">Cart</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Orders" class="nav-link">Orders</a>
                </li>
            </ul>
        </nav>
    </div>
  </header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        @* &copy; 2023 - BrewbayProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
        &copy; 2023 - BrewbayProject
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/cbe6d2b496.js" crossorigin="anonymous"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>