@model BrewbayProject.Models.Product;

@{
  ViewData["Title"] = "Edit Product";
}

<div class="container">
  <div class="row">
    <div class="col-9">
      <div class="card mb-4">
        <div class="card-header py-3">
          <div class="flex align-items-center">
            <h5 class="mb-0 d-flex fw-medium">Edit Product</h5>
          </div>
        </div>

        <div class="card-body">
          <!-- EDIT FORM -->
          <form asp-action="EditProduct" method="post">
            <div class="mb-3">
              <label for="productName" class="form-label">Name</label>
              <input id="productName" asp-for="Name" class="form-control" placeholder="@Model.Name" />
              <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="mb-3">
              <label for="productDescription" class="form-label">Description</label>
              <textarea id="productDescription" asp-for="Description" class="form-control"
                placeholder="@Model.Description"></textarea>
              <span class="text-danger" asp-validation-for="Description"></span>
            </div>
            <div class="mb-3">
              <label for="productImage" class="form-label">Image URL</label>
              <input id="productImage" asp-for="Image" class="form-control" />
              <span class="text-danger" asp-validation-for="Image"></span>
            </div>
            <div class="mb-3">
              <label for="productPrice" class="form-label">Price</label>
              <input id="productPrice" asp-for="Price" class="form-control" placeholder="@Model.Price" />
              <span class="text-danger" asp-validation-for="Price"></span>
            </div>
            <button type="submit" class="d-block btn btn-primary px-5 mx-auto">SAVE DETAILS</button>
          </form>
          <!-- END FORM -->
        </div>
      </div>
    </div>
    <div class="col-3">
      <h5 class="p-3 fw-semibold">Links</h5>
      <ul class="list-group">
        <li class="list-group-item"><a asp-action="AddProduct">Add Product</a>
        </li>
        <li class="list-group-item"><a asp-action="Index">View Products</a>
        </li>
      </ul>
    </div>
  </div>
</div>
