<head>
    <title>Payment Success</title>
</head>
<body>
    <style>
        .center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 440px;
            background: #f7e7ce;
            border-radius: 12px;
            padding: 22px;
            box-sizing: border-box;
            text-align: center;
        }

            .center h1 {
                color: #333;
                margin-bottom: 15px;
            }

        .inner-box {
            background: #fff;
            border-radius: 10px;
            padding: 15px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .center h2 {
            color: #555;
            margin-top: 10px;
        }

        .center ul {
            list-style: none;
            padding: 0;
            margin-top: 15px;
        }

        .center li {
            margin-bottom: 12px;
        }

        .center strong {
            color: #333;
        }

        .center hr {
            border: 1px solid #adadad;
            margin: 25px 0;
        }

        .center p {
            color: #777;
            margin-bottom: 25px;
        }

            .center p.support-text {
                color: #555;
            }

        .center a {
            color: #333;
            text-decoration: none;
        }

            .center a:hover {
                text-decoration: underline;
            }
    </style>

    <div class="center">
        <h1>Payment Cancelled</h1>
        <p>You have cancelled your order.!</p>
        <p>You may redirect back to the home page.</p>

        <hr />

        <p>If you have any questions, please contact our support team.</p>
    </div>
</body>